[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.tokkiBackground {
    background-color: #ff970c;
    color: #fff;
}

.row {
    width: 100%;
    margin: 0px;
}

.topHeaderBar {
    height: 35px;
    margin: 0px;
}

.topHeaderBarContents {
    line-height: 32px;
    font-size: 13px;
}

.topHeaderBarContents .userLink {
    text-decoration: none;
    color: #fff;
}

.topMiddleBar {
    height: 70px;
    border-bottom: 1px solid #e9e9e9;
    background-color: #f8f8f8;
}

.topMiddleBar .topMiddleBarContents {
    line-height: 65px;
}

.topMiddleBar .topMiddleBarContents .logo {
    width: 70%;
}

.topMiddleBar .form-control {
    font-size: 13px;
    height: 35px;
}

.topMiddleBar .searchTextInput {
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    border-right: 0px;
}

.topMiddleBar .searchSelectInput {
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}

.topMiddleBar .form-control:focus {
    outline: none;
    box-shadow: none;
    border-color: #ff970c;
}

.topMiddleBar .input-group-text {
    border: 1px solid #ff970c;
}

#tokkiHomeTopSlider .carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

#tokkiHomeTopSlider .tokkiHomeSliderImage {
    width: 100%;
}

.productCollectionList {
    margin-top: 10px;
}

.productCollectionHeading {
    border-bottom: 2px solid #ff970c;
    padding: 5px 0px;
    font-size: 20px;
}

.productListCardMain {padding: 0px;}
.productListImage {width: 100%;height: 100%;}
.productListCard:hover{box-shadow: 0px 5px 25px rgba(0,0,0,0.1);z-index: 10;}
.productListHeading {font-size: 20px;display: block;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;margin: 0}
.productListPrice {font-weight: 700;font-size: 16px;color: #ff970c}

.singleProductDetails ul li{margin-bottom: 10px;}
.singleProductImage{width: 70%;}
.singleProductImageList{width: 10%; height: 10%;cursor: pointer;}

.singleProductDetails .singleProductHeading{font-size: 26px;color: #455a64;}
.singleProductDetails .singleProductDetailsList{color: #777777;}

.productListCardMain a{text-decoration: none;color: #777777;}

.singleProductDetails .nav-tabs {border-bottom: 1px solid #dee2e6;}
.singleProductDetails .customtab li a.nav-link.active, .profile-tab li a.nav-link.active {border-bottom: 2px solid #ff970c;color: #ff970c;}
.singleProductDetails .nav-tabs .nav-link{border: none;}
.tokkiAccessButton{color: #FFFFFF; background-color: #ff970c}
.singleProductFeatures {border: 1px solid #777777;padding: 1px 8px;margin: 2px;}

.singleProductOrderForm .form-control{border-radius: 0; height: 34px !important;}